/* GLOBAL */
@font-face {
    font-family: "Syne";
    src: url('../fonts/Syne/Syne-VariableFont_wght.ttf') format('truetype');
}
/* HEADER */
.site-primary-header-wrap {
    padding-right: 0;
    padding-left: 0;
}
/* Media query : max-width: 922px */
@media(min-width: 922px) {
    .ast-container {
        max-width: 1959px;
    }
}
/** ************ **/
.menu-item-203 a {
    color: #000;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 40px;
}
.menu-item-203 a:hover {
    font-weight: 600;
}
.main-header-menu > li:last-child {
    background-color: #dc9f96;
    transition: 0.45s ease;
    width: 236px !important;
    height: 80px !important;
}
@media(max-width: 922px) {
    .main-header-menu > li:last-child {
        width: 100% !important;
        height: 100% !important;
    }

    .menu-admin {
        padding-left: 20px;
        color: #dc9f96 !important;
    }
}

.main-navigation > ul > li:last-child a {
    margin: 0 auto !important;
}

.main-header-menu > li:last-child a {
    color: #FFF !important;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main-header-menu > li:last-child:hover {
    background-color: #c02e44 !important;
}

.menu-admin {
    color: #000;
    padding-right: 16px;
    margin-right: 40px;
}
.menu-admin:hover {
    color: #000;
    font-weight: 600;
}

/* FRONT PAGE HERO*/
.left-leaf,
.right-leaf {
    position: absolute;
    z-index: 0;
}
.planty-can {
    z-index: 1;
}
.left-leaf figure {
    right: 180px;
    top: 26px;
}
.right-leaf figure {
    left: 173px;
    top: 29px;
}
.uagb-image-heading {
    text-align: center;
}

/* FOOTER */
.ast-footer-row-mobile-stack {
    border-width: 0 !important;
}
.site-below-footer-wrap {
    padding-top: 0;
    padding-bottom: 0;
}

/* CONTACT */
.contact-leaf_1 {
    bottom: 140px;
    position: absolute;
    z-index: 0;
    left: 300px;
}
.contact-leaf_2 {
    position: absolute !important;
    top: 133px;
    left: 1160px;
}
.contact-leaf_3 {
    bottom: 263px;
    right: 87px;
    z-index: 0;
}
.contact-page_title {
    z-index: 1;
    position: relative;
}

.uagb-block-3d184b78 {
    padding-bottom: 0 !important;
}
.wpcf7-text {
    height: 59px !important;
    border: none !important;
    margin-top: 8px;
}
.uagb-block-b97d77f9 > .uagb-container-inner-blocks-wrap {
    width: 66% !important;
}

input.wpcf7-form-control.wpcf7-submit {
    display: block;
    margin: 0 auto;
    background-color: #dc9f96;
    width: 198px;
    height: 55px;
}

input.wpcf7-form-control.wpcf7-submit:hover {
    color: white;
    background-color: #c02e44 !important;
}

.wpcf7-form-control-wrap {
    z-index: 1;
}
.wpcf7-textarea {
    border: none !important;
    margin-top: 8px;
}

.wpcf7-form label {
    font-size: 20px;

}

@media(max-width: 999px) {
    .uagb-block-a7b12223 {
        flex-direction: column !important;
    }
}

@media(max-width: 767px) {
    .contact-leaf_2 {
        position: relative !important;
        top: 46px;
        left: 0;
    }
}

/* ORDER */
.wpcf7-form-control-wrap {
    display: flex !important;
    justify-content: center !important;
}
.compteur {
    width: 40% !important;
}
@media(max-width: 767px) {
    .compteur {
        width: 66px !important;
    }
}
#order-form_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#order-form_wrapper .order-form_column p {
    width: 387px;
}
#order-form_wrapper .order-form_column:first-child {
    flex-basis: 50%;
    border-right: solid 1px #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#order-form_wrapper .order-form_column p label {
    color: #FFF;
}
#order-form_wrapper .order-form_column h3 {
    color: #FFF;
    font-size: 30px;
}
#order-form_submit {
    margin-top: 48px;
}

@media(max-width: 900px) {
    #order-form_wrapper {
        flex-direction: column;
    }
    #order-form_wrapper .order-form_column {
        align-self: center;
    }
    #order-form_wrapper .order-form_column:first-child {
        border-right: none;
    }
    #order-form_wrapper .order-form_column:last-child {
        margin-top: 20px !important;
    }
    #order-form_wrapper .order-form_column p {
        width: 250px;
    }
}
